---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import PostList from '../components/PostList.astro';

// import type { CollectionEntry } from 'astro:content';
// type Props = CollectionEntry<'blog'>['data'];
// import { getCollection } from 'astro:content';
// const posts = (await getCollection('blog')).sort(
// 	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Front Matter</h1>
			<p>
				This site is a super WIP. I just needed somewhere to post about project
				related things without fear of being a certified twitter threadpooster™️ (... 1/2147 🧵).
			</p>

			<p>
				You can find me on <a href="https://github.com/elliottmckee">Github</a>,  <a href="https://twitter.com/mckee_elliott">Twitter</a> and <a href="https://www.linkedin.com/in/elliott-mckee-2a8290193">LinkedIn</a>. If you find me anywhere else, I don't exist.
			</p>

			
			<h1>Posts</h1>
			<p>
				<PostList /> 
			</p>


			<h1>About This Site</h1>
			<p>
				This site is made using Astro, and deployed on Netlify. As very inexperienced web person with only prior experience with Wordpress, I reccomend both.
			</p>


		</main>
		<Footer />
	</body>
</html>
